body{

    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-link {

 color: black;
 font-weight: 500;

}

.carousel-caption{

    top: 0;
    bottom: 0;
    transform: translateY(-25%);

}

.btn-primary{

    background-color: #3E6AE1;

}

.btn-primary:hover{

    background-color: #365BBA;
}


.carousel-caption h1 {

    font-size: 3.5rem;
    letter-spacing: 1px;
}

.carousel-caption .btn {

   font-weight: 500;
}

.carousel-item img {

    height: 100vh;
    object-fit: cover;
}


.models-carousel {

    background-color: #fff;

}



.model-card {

    position: relative;
    border-radius: 12px;
    overflow: hidden;
}


.model-card img{

    height: 400px;
    object-fit: cover;
    filter: brightness(75%);
    transition: transform 0.5s ease, filter 0.5s ease;


}

.model-card:hover img{

    transform: scale(1.05);
    filter: brightness(100%);
}


.card-img-overlay p {

    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);

}

.card-img-overlay h3 {

    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    
}

.carousel-indicators [data-bs-target]{

    background-color: #333;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 390px;

}

.tesla-cards {

    background-color: #fff;
}

.info-card {

    background-color: #f5f5f5;
    border-radius: 12px;
    overflow: hidden;
    height: 69%;
}


.info-card img {

    width: 40%;
    object-fit: cover;
    border-radius: 0 12px 12px 0;
}

.info-card .card-body {

    width: 60%;
}


.info-card h4 {

    font-size: 1.5rem;
    color: #000;

}


.info-card p {

    font-size: 1rem;
    

}

.info-card .btn {

    border-radius:  6px;
    font-weight: 600;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;


}


.info-card .btn:hover {

    background-color: #e5e5e5;
}